<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive middle has-control" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th><%=t('name')%></th>
            <th><%=t('phone_number')%></th>
            <th><%=t('email')%></th>
            <th><%=t('address')%></th>
            <th><%=t('education_level')%></th>
            <th><%=t('course_type')%></th>
            <th><%=t('message')%></th>
            <th><%=t('registed_at')%></th>
            <th class="col-status"><%=t('status')%></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% if @regists.present? %>
            <% @regists.each_with_index do |item, index| %>
                <tr>
                    <td>
                        <%=item.name%>
                    </td>
                    <td>
                        <%=item.phone%>
                    </td>
                    <td>
                        <%=item.email%>
                    </td>
                    <td>
                        <%=item.address%>
                    </td>
                    <td>
                        <%=item.education_level_nm%>
                    </td>
                    <td>
                        <%=item.course_type_nm%>
                    </td>
                    <td>
                        <%=item.message%>
                    </td>
                    <td class="text-center">
                        <%=item.created_at.to_formatted_s(:db).gsub('-', '/')%>
                    </td>
                    <td class="col-status">
                        <select class="form-control status-regist" tabindex="12" id-regist="<%=item.id%>" old-val="<%=item.status%>">
                            <% @status.each_with_index do |stt, index| %>
                                <option value="<%=stt.number%>" 
                                    <%=stt.number == item.status ? 'selected=selected' : ''%>><%=stt.name%>
                                </option>
                            <% end %>
                        </select>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-xs btn-danger btn-del-regist" style="margin: 0px;" tabindex="12" id-regist="<%=item.id%>">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>