<% content_for :title do %>
    <%=@mode == 'I' ? t('add_letter') : t('edit_letter')%>
<% end %>

<% content_for :styles do %>
    <%= stylesheet_link_tag "vendor/switchery/switchery.min", media: "all" %>
    <%= stylesheet_link_tag "vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.min", media: "all" %>
    <%= stylesheet_link_tag "admin/letter/letter", media: "all" %>
<% end %>

<% content_for :lib do %>
    <script src="/ckeditor/ckeditor.js"></script>
    <%= javascript_include_tag('vendor/switchery/switchery.min') %>
    <%= javascript_include_tag('vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.min') %>
<% end %>

<% content_for :scripts do %>
    <script>
        var mode = '<%=@mode%>';
    </script>
    <%= javascript_include_tag('admin/letter/add-edit-letter') %>
<% end %>

<div class="page-title">
    <div class="title_left">
        <h3><%=@mode == 'I' ? t('add_letter') : t('edit_letter')%></h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class=" <%=@mode == 'U' ? 'col-md-6' : ''%> col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <% if @mode == 'I' %>
                <h2><%=t('letter_information')%></h2>
                <% else %>
                <h2><%=t('main_language')%> <small><%=t('vietnamese')%></small></h2>
                <% end %>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-letter-main" enctype="multipart/form-data" action="/admin/letter/save-letter" accept-charset="UTF-8" method="post">
                    <input name="utf8" type="hidden" value="✓">
                    <input type="hidden" name="authenticity_token" id="authenticity_token">
                    <input type="hidden" name="mode" value="<%=@mode%>">
                    <% if @letter != nil %>
                    <input type="hidden" name="letter[id]" id="id" value="<%=@letter.id%>">
                    <% end %>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="title"><%=t('title')%> <span class="sign_required">*</span></label>
                                <input class="form-control" name="letter[title]" id="title" placeholder="<%=t('title')%>" value="<%=@letter != nil ? @letter.title : ''%>" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="content"><%=t('content_admin')%> <span class="sign_required">*</span></label>
                                <textarea class="form-control ckeditor-custom" name="letter[content]" id="content" placeholder="<%=t('content_admin')%>" rows="5"><%=@letter != nil ? @letter.content : ''%></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="author"><%=t('author')%></label>
                                <input class="form-control" name="letter[author]" id="author" placeholder="<%=t('author')%>" value="<%=@letter != nil ? @letter.author : ''%>" />
                            </div>
                        </div>
                        <div class="<%=@mode == 'U' ? 'col-xs-12' : 'col-xs-12 col-sm-12 col-md-3'%>">
                            <div class="form-group">
                                <label for="typ"><%=t('media_format')%></label>
                                <select id="typ" name="letter[typ]" class="form-control typ-embed" tabindex="4" first="">
                                    <option value="-1"></option>
                                    <% @typeEmbed.each_with_index do |item, index| %>
                                        <option value="<%=item.number%>" <%=@letter != nil && item.number == @letter.typ ? 'selected=selected' : ''%>><%=item.name%></option>
                                    <% end %>
                                </select>
                            </div>
                        </div>
                        <div class="<%=@mode == 'U' ? 'col-xs-12' : 'col-xs-12 col-sm-12 col-md-9'%> <%=(@letter != nil && @letter.typ != 1) || @letter == nil ? 'hidden' : ''%>" id="embed_video">
                            <div class="form-group">
                                <label for="url_video"><%=t('embed_video')%> <span class="sign_required">*</span></label>
                                <input class="form-control" name="letter[url_video]" id="url_video" placeholder="<%=t('embed_video_youtube')%>" value="<%=@letter != nil && @letter.typ == 1 ? @letter.url_video : ''%>" tabindex="4" maxlength="255" />
                            </div>
                        </div>
                        <div class="<%=@mode == 'U' ? 'col-xs-12' : 'col-xs-12 col-sm-12 col-md-9'%> <%=(@letter != nil && @letter.typ != 2) || @letter == nil ? 'hidden' : ''%>" id="embed_img">
                            <div class="form-group">
                                <label for="image"><%=t('image')%> (888 x 521px) <span class="sign_required">*</span></label>
                                <div class="div-review-embed">
                                    <img id="img_preview0" src="<%=@letter != nil && @letter.typ == 2 ? @letter.url_video : ''%>" width="200"/>
                                    <input type="hidden" id="size0" id-view="image-name">
                                </div>
                                <div class="input-group mb-0">
                                    <input class="form-control wb" value="<%=@letter != nil && @letter.typ == 2 ? @letter.url_video : ''%>"  id="image-name" placeholder="<%=t('image')%>" readonly="readonly"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary mb-0">
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                        </button>
                                        <input type="file" class="file" name="letter[image]" id="image" accept=".jpg,.png" tabindex="4" id-view="image-name" err-idx="0"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="background"><%=t('background')%> <span class="sign_required">*</span></label>
                                <div class="input-group background">
                                    <input class="form-control" name="letter[background]" id="background" placeholder="<%=t('background')%>" value="<%=@letter != nil ? @letter.background : ''%>" />
                                    <span class="input-group-addon" tabindex="4"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="icon"><%=t('icon')%> (335 x 292px) <span class="sign_required">*</span></label>
                                <br>
                                <img id="img_preview1" src="<%=@letter != nil ? @letter.icon : ''%>" width="200"/>
                                <input type="hidden" id="size1" id-view="icon-name">
                                <div class="input-group">
                                    <input class="form-control wb" value="<%=@letter != nil ? @letter.icon : ''%>"  id="icon-name" placeholder="<%=t('icon')%>" readonly="readonly"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary">
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                        </button>
                                        <input type="file" class="file" name="letter[icon]" id="icon" accept=".jpg,.png" tabindex="7" id-view="icon-name" err-idx="1"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="show"><%=t('show')%></label>
                                <%if @letter == nil %>
                                <input type="checkbox" class="js-switch" name="letter[show]" id="show" tabindex="8" />
                                <% else %>
                                <input type="checkbox" class="js-switch" name="letter[show]" id="show" <%=@letter.show ? 'checked=checked' : ''%> tabindex="8" />
                                <% end %>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="btn-save-letter" tabindex="9"><%=t('save')%></button>
                                <% if @mode == 'U' %>
                                <button type="button" class="btn btn-danger" id="btn-delete-letter" tabindex="10"><%=t('delete')%></button>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% if @mode == 'U' %>
    <div class="col-md-6 col-xs-12 col-trans">
        <form class="form-horizontal input_mask" id="form-letter-trans" action="/admin/letter/update-trans" accept-charset="UTF-8" method="post">
            <div class="x_panel">
                <div class="x_title">
                    <h2><%=t('translate')%></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <select id="language-trans" name="letter[lang]" class="form-control" tabindex="11">
                                <% @lang.each_with_index do |item, index| %>
                                    <option value="<%=item.language_code%>"><%=item.language_name%></option>
                                <% end %>
                            </select>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <input name="utf8" type="hidden" value="✓">
                    <input type="hidden" name="authenticity_token" id="authenticity_token">
                    <input type="hidden" name="letter[id]" value="<%=@letter_ja.id%>">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="trans_title"><%=t('title')%> <span class="sign_required">*</span></label>
                                <input class="form-control" name="letter[title]" id="trans_title" placeholder="<%=t('title')%>" value="<%=@letter_ja.title%>" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="trans_content"><%=t('content_admin')%> <span class="sign_required">*</span></label>
                                <textarea class="form-control ckeditor-custom" name="letter[content]" id="trans_content" placeholder="<%=t('content_admin')%>" rows="5"><%= @letter_ja.content%></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="trans_author"><%=t('author')%></label>
                                <input class="form-control" name="letter[author]" id="trans_author" placeholder="<%=t('author')%>" value="<%=@letter_ja.author%>" />
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="trans_typ"><%=t('media_format')%></label>
                                <select id="tran_typ" class="form-control typ-embed" tabindex="15" first="trans_" disabled="disabled">
                                    <option value="-1"></option>
                                    <% @typeEmbed.each_with_index do |item, index| %>
                                        <option value="<%=item.number%>" <%=item.number == @letter_ja.typ ? 'selected=selected' : ''%>><%=item.name%></option>
                                    <% end %>
                                </select>
                                <input type="hidden" name="letter[typ]" value="<%=@letter_ja.typ%>">
                            </div>
                        </div>
                        <div class="col-xs-12 <%=@letter_ja.typ != 1 ? 'hidden' : ''%>" id="trans_embed_video">
                            <div class="form-group">
                                <label for="trans_url_video"><%=t('embed_video')%> <span class="sign_required">*</span></label>
                                <input class="form-control" name="letter[url_video]" id="trans_url_video" placeholder="<%=t('embed_video_youtube')%>" value="<%=@letter_ja.typ == 1 ? @letter_ja.url_video : ''%>" tabindex="15" maxlength="255" />
                            </div>
                        </div>
                        <div class="col-xs-12 <%=@letter_ja.typ != 2 ? 'hidden' : ''%>" id="trans_embed_img">
                            <div class="form-group">
                                <label for="trans_image"><%=t('image')%> (888 x 521px) <span class="sign_required">*</span></label>
                                <div class="div-review-embed">
                                    <img id="img_preview2" src="<%=@letter_ja.typ == 2 ? @letter_ja.url_video : ''%>" width="200"/>
                                    <input type="hidden" id="size2" id-view="trans_image-name">
                                </div>
                                <div class="input-group mb-0">
                                    <input class="form-control wb" value="<%=@letter_ja.typ == 2 ? @letter_ja.url_video : ''%>"  id="trans_image-name" placeholder="<%=t('image')%>" readonly="readonly" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary">
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                        </button>
                                        <input type="file" class="file" name="letter[image]" id="trans_image" accept=".jpg,.png" tabindex="15" id-view="trans_image-name" err-idx="2"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-sm hidden-xs">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label><%=t('background')%></label>
                                    <div class="input-group background">
                                        <input class="form-control" value="<%=@letter != nil ? @letter.background : ''%>" disabled="disabled" />
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label><%=t('icon')%></label>
                                    <br>
                                    <img src="<%=@letter_ja.icon%>" alt="<%=@letter_ja.title%>" width="200"/>
                                    <input class="form-control"  disabled="disabled" value="<%=@letter_ja.icon%>" style="margin-bottom: 10px;"/>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label><%=t('show')%></label>
                                    <input type="checkbox" class="js-switch" <%=@letter_ja.show ? 'checked=checked' : ''%> disabled="disabled"/>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" id="btn-trans-letter" tabindex="16"><%=t('save_translate')%></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <% end %>
</div>