<% content_for :title do %>
    <%=t('list_regist_events')%>
<% end %>

<% content_for :styles do %>
    <%= stylesheet_link_tag "vendor/datatable/datatable", media: "all" %>
    <%= stylesheet_link_tag "vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min", media: "all" %>
    <%= stylesheet_link_tag "admin/regist-events/list-regist-events", media: "all" %>
<% end %>

<% content_for :lib do %>
    <%= javascript_include_tag('vendor/datatable/datatable') %>
    <%= javascript_include_tag('vendor/moment/moment') %>
    <%= javascript_include_tag('vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min') %>
<% end %>

<% content_for :scripts do %>
    <%= javascript_include_tag('admin/regist-events/list-regist-events') %>
<% end %>

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><%=t('search_conditions')%></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-search" action="/admin/regist-events/search" accept-charset="UTF-8" method="post">
                    <input name="utf8" type="hidden" value="✓">
                    <input type="hidden" name="authenticity_token" id="authenticity_token">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="event"><%=t('events')%></label>
                                <select class="form-control" name="search[event]" id="event">
                                    <option value="-1"></option>
                                    <% if @events.present? %>
                                        <% @events.each_with_index do |item, index| %>
                                            <option value="<%=item.id%>"><%=item.title%></option>
                                        <% end %>
                                    <% end %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="name"><%=t('name')%></label>
                                <input type="text" class="form-control" name="search[name]" id="name" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="status"><%=t('status')%></label>
                                <select class="form-control" name="search[status]" id="status">
                                    <option value="-1"></option>
                                    <% if @status.present? %>
                                        <% @status.each_with_index do |item, index| %>
                                            <option value="<%=item.number%>"><%=item.name%></option>
                                        <% end %>
                                    <% end %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="test_type"><%= t('test_type') %></label>
                                <select class="form-control" name="search[test_type]" id="test_type">
                                    <option value="-1"></option>
                                    <% if @test_type.present? %>
                                        <% @test_type.each_with_index do |item, index| %>
                                            <option value="<%=item.number%>"><%=item.name%></option>
                                        <% end %>
                                    <% end %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" id="btn-search"><%=t('search')%></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><%=t('list_regist_events')%></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="div-table-regist-events">
            </div>
        </div>
    </div>
</div>