<% content_for :title do %>
    <%=t('profile_admin')%>
<% end %>

<% content_for :styles do %>
<% end %>

<% content_for :lib do %>
<% end %>

<% content_for :scripts do %>
    <%= javascript_include_tag('admin/users/profile') %>
<% end %>

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><%=t('your_profile')%></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-update-profile" action="/admin/users/update-user" accept-charset="UTF-8" method="post">
                    <input name="utf8" type="hidden" value="✓">
                    <input type="hidden" name="authenticity_token" id="authenticity_token">
                    <input type="hidden" name="user[id]" id="id" value="<%=@user.id%>">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="name"><%=t('full_name')%> <span class="sign_required">*</span></label>
                                <input type="text" class="form-control" name="user[name]" id="name" placeholder="<%=t('full_name')%>" value="<%=@user.name%>"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label><%=t('username')%></label>
                                <input type="text" class="form-control" placeholder="<%=t('username')%>" disabled="disabled" value="<%=@user.username%>"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="email"><%=t('email')%> <span class="sign_required">*</span></label>
                                <input type="text" class="form-control" name="user[email]" id="email" placeholder="<%=t('email')%>" value="<%=@user.email%>"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="phone"><%=t('phone_number')%> <span class="sign_required">*</span></label>
                                <input type="text" class="form-control" name="user[phone]" id="phone" placeholder="<%=t('phone_number')%>" value="<%=@user.phone%>"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="address"><%=t('address')%> <span class="sign_required">*</span></label>
                                <input type="text" class="form-control" name="user[address]" id="address" placeholder="<%=t('address')%>" value="<%=@user.address%>"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="btn-save-profile" tabindex="6"><%=t('save')%></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><%=t('change_password')%></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-change-pass" action="/admin/profile/changepass" accept-charset="UTF-8" method="post" autocomplete="off">
                    <input name="utf8" type="hidden" value="✓">
                    <input type="hidden" name="authenticity_token" id="authenticity_token">
                    <input type="hidden" name="pass[id]" id="id" value="<%=@user.id%>">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="oldpass"><%=t('old_password')%></label>
                                <input type="password" class="form-control" name="pass[oldpass]" autocomplete="fakepasswordremembered" id="oldpass" placeholder="<%=t('old_password')%>"/>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="newpass"><%=t('new_password')%></label>
                                <input type="password" class="form-control" name="pass[newpass]" autocomplete="fakepasswordremembered1" id="newpass" placeholder="<%=t('new_password')%>"/>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="confirmpass"><%=t('confirm_password')%></label>
                                <input type="password" class="form-control" name="pass[confirmpass]" autocomplete="fakepasswordremembered2" id="confirmpass" placeholder="<%=t('confirm_password')%>"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="btn-save-pass" tabindex="10"><%=t('save_password')%></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>