<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive middle has-control" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th><%=t('course')%></th>
            <th><%=t('name')%></th>
            <th><%=t('title')%></th>
            <th><%=t('target_admin')%></th>
            <th><%=t('time_admin')%></th>
            <th><%=t('fee_admin')%></th>
            <th><%=t('show')%></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @classes.each_with_index do |item, index| %>
            <tr>
                <td class="text-center">
                    <a href="/admin/courses/edit-class?id=<%=item.id%>" tabindex="5">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
                <td><%=item.course%></td>
                <td><a href="<%='/' + @lang + '/course-detail/' + item.beauty_id%>" target="_blank"><%=item.title%></a></td>
                <td><%=item.name%></td>
                <td><%=item.target%></td>
                <td><%=item.time%></td>
                <td><%=item.price%></td>
                <td class="text-center">
                    <input type="checkbox" class="js-switch show-class" id-class="<%=item.id%>" course-id="<%=item.course_id%>" old-val="<%=item.show%>" update="1" <%=item.show ? 'checked=checked' : ''%> tabindex="5" val="1"/>
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-xs btn-danger btn-del-class" style="margin: 0px;" tabindex="5" id-class="<%=item.id%>" course-id="<%=item.course_id%>">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>